[submodule "Telegram_Bots/Predict_Stock_and_Crypto_for_Invest"]
	path = Telegram_Bots/Predict_Stock_and_Crypto_for_Invest
	url = https://github.com/budaevdigital/Predict_Stock_and_Crypto_for_Invest
[submodule "Yandex/Module_6/01_DRF/kittygram"]
	path = Yandex/Module_6/01_DRF/kittygram
	url = https://github.com/budaevdigital/kittygram.git
[submodule "Yandex/Module_7/01_API/api_final_yatube"]
	path = Yandex/Module_7/01_API/api_final_yatube
	url = https://github.com/budaevdigital/api_final_yatube.git
[submodule "Yandex/Module_7/02_API/api_yamdb"]
	path = Yandex/Module_7/02_API/api_yamdb
	url = https://github.com/budaevdigital/api_yamdb.git
